<!-- <div class="form-group" [class.has-success]="input.valid && (input.dirty || input.touched)"
                        [class.has-success]="!input.valid && (input.dirty || input.touched)"> -->
        <label for="">{{label}}</label>
        <ng-content #name></ng-content>
        
  <!--       <span class="help-block" *ngIf="input.valid && (input.dirty || input.touched)"><i class="fa fa-check"></i>ok</span>
        <span class="help-block" *ngIf="!input.valid && (input.dirty || input.touched)"><i class="fa fa-remove"></i>{{errorMessage}}</span> -->
<!-- </div> -->