
<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <form novalidate [formGroup]="formulario" (ngSubmit)="cadastrarCliente()" >
            
            
            {{formulario.valid}}
            {{formulario.value | json}}
            <div class="form-group">
                <label for="">Nome</label>
                <input type="text" formControlName="nome" class="form-control" [class.is-invalid]="!formulario.controls.nome.valid" [class.is-valid]="formulario.controls.nome.valid">
                <p class="text-danger small" *ngIf="!formulario.controls.nome.valid">{{nomeValidator}}</p>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" formControlName="email" class="form-control" required [class.is-invalid]="!formulario.controls.email.valid" [class.is-valid]="formulario.controls.email.valid">
                <p class="text-danger small" *ngIf="!formulario.controls.email.valid">{{nomeValidator}}</p>
            </div>
            <button 
            type="submit" 
            class="btn btn-primary btn-lg"
            [disabled]="!formulario.valid"
           
           
          >Cadastrar cliente</button>
        </form>

        <p class="text-success text-center mt-3"> Cliente cadastrados</p>
        <div  class="row">
            <div class="col-md-6 my-2" *ngFor="let clienteDto of clienteDtoList">

                <a [routerLink]="['/clientes', clienteDto.id]" (click)="getCLienteById()">
                   
                    <div class="card cliente">
                        <div class="card-body">
                           <!--  {{clienteDto.email | json}} -->
                            {{clienteDto.email | slice:0:5}}...
                            <p>Nome: {{clienteDto.nome}}</p>
                            <p>Nome: {{clienteDto.email}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>