<div class="container">
  
    <div class="secao">
      <h3 class="text-center">Rodízios, Buffet, Carnes Especiais, Feijoada e mais!</h3>
      <h5 class="text-center">Conheça as melhores ofertas de restaurantes:</h5>
    </div>
  
    <hr />
  
  
  
   
    <div class="card my-3" *ngFor="let oferta of ofertas">
      <div class="card-header bg-dark text-dark">
          <h4 class="text-white text-center">{{oferta.titulo}} </h4>
      </div>
      <div class="card-body ">
          <div class="row my-3" >
              <div class="col-sm-12 col-md-4">
                <img  [src]="oferta.imagens[0].url" class="img-fluid" />
              </div>
          
              <div class="col-sm-12 col-md-8">
                <div class="row">
                  <h4>{{oferta.dataTeste}}</h4>
                </div>
          
               <!--  <div class="row">
                  <p>{{dataTeste | date:"dd/MM/yyyy"}}</p>
                </div> -->
          
                <div class="row">
                  <p>Anunciado por: <b>{{oferta.anunciante}}</b></p>
                </div>
          
                <div class="row">
                  <p>{{oferta.valor | currency:'BRL':true }}</p>
                </div>
                
                <div class="row">
                  <button [routerLink]="['/oferta',oferta.id]"  class="btn btn-outline-success">Ver oferta</button>
                </div>
              </div>
            </div>
      </div>
    </div>
   
  
    
  
  </div>